@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", serif;
  line-height: 1.2;
  background-image: url(../images/background.png);


}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ol,
ul {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高 */
  color: #222;
  text-decoration: none;
}

/* reset end */


/* 首頁區 */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 238px;
    height: 76px;
    margin: 0 20px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .menu {
      display: flex;
      padding: 0 200px;

      a {
        font-size: 18px;
        padding: 0 20px;


      }

    }
  }
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;

  // 固定背
  background-attachment: fixed;

  //標題
  h2 {
    font-size: 22px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 2.5;
    color: #8A5D3B;
    font-weight: bold;
  }

  /* 驗證碼區 */
  #v-code {

    width: 830px;
    height: 600px;
    position: relative;


    img {
      width: 100%;
      height: 100%;
    }

    /* 提醒字 */
    .remind {
      position: absolute;
      top: 120px;
      left: 340px;
      font-size: 18px;
      color: #464646;
    }

    /* 驗證區 */
    .input_block {
      position: absolute;
      top: 150px;
      left: 150px;
      display: flex;
      flex-direction: column;

      /* 調整輸入區位置 */
      .input-code {
        display: flex;
        align-items: center;


      }

    }

    /* 產生驗證碼區 */
    #auth-code {
      width: 450px;
      height: 100px;
      margin: 20px 30px 40px;
    }

    /* 換圖按鈕 */
    #reBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 40px;
      height: 40px;


    }

    /* 輸入驗證碼區塊 */
    #validText {

      width: 430px;
      height: 50px;
      margin: 0 10px;
      background-color: #CDB17E;
      border: none;
      font-size: 18px;


    }

    /* 確認按鈕 */
    #sure-btn {
      position: absolute;
      top: 400px;
      left: 335px;
      width: 150px;
      height: 50px;
      font-size: 18px;
      background-color: #CDB17E;
      border: none;
      cursor: pointer;
    }

    /* 輸入時的樣式 */
    input:focus {
      outline: none;
      border-color: #fff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(109, 52, 20, 0.486);
    }
  }
}

/* 背景插圖 */

/* 左下角角落 */
.img01 {
  position: absolute;
  width: 600px;
  height: 450px;
  left: 0;
  bottom: 50px;
}
/* 左下角花 */
.img02 {
  position: absolute;
  width: 480px;
  height: 400px;
  left: 100px;
  top: 380px;
}

/* 驗證碼區的印章 */
.img03 {
  position: absolute;
  width: 120px;
  height: 100px;
  bottom: 180px;
  right: 550px;
  transform: rotate(-5deg);

}
/* 左中的紙 */
.img04 {
  position: absolute;
  width: 320px;
  height: 320px;
  right: 260px;
  top: 250px;

  transform: rotate(15deg);

}
/* 左邊的花 */
.img05 {
  position: absolute;
  width: 280px;
  height: 280px;
  right: 165px;
  top: 175px;
}


footer {

  display: inline-block;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  background-color: #E2CA9E;
  width: 100%;
  height: 65px;

  letter-spacing: 3px;
  color: #000;
}